#header {
    text-align: center;
}

#mainContent {
    width: 80%;
    margin: auto;
    text-align: center;
}

.card {
    text-align: left;
}

.list-no-decoration {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-footer {
    padding: 0;
}

.card-footer a {
    display: inline-block;
    width: 100%;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
