.btn-led {
    width: 100%;
}

.temp-now {
    font-weight: bold;
    font-size: 1.25em;
}

.temp-now:after{
    content: "\00B0 C";
}

.temp-update-time{
    margin: 0;
    padding: 0;
}

.temp-update-time:before{
    content: "Last updated: ";
}