.admin-landing-option:hover {
    cursor: pointer;
    border-color: #0a53be;
    text-decoration: underline;
}

.admin-landing-option.admin-landing-option-view {
    background-color: #007bff;
    color: #fff;
}

.admin-landing-option.admin-landing-option-edit {
    background-color: #ffc107;
}

.admin-landing-option.admin-landing-option-delete {
    background-color: #dc3545;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .col-md-12 {
        margin: 0!important;
    }
    .admin-landing-option {
        border-radius: 0;
    }

    .admin-landing-option.admin-landing-option-edit {
        margin: 5px 0;
    }

    .admin-landing-option.admin-landing-option-view {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .admin-landing-option.admin-landing-option-delete {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}