.content {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    border: 1px solid gray;
    padding: 25px;
    border-radius: 25px;
    background-color: #eee;
}